RewriteEngine On
RewriteCond %{HTTP_HOST} ^falcon5m.com.br
RewriteRule ^ http://www.falcon5m.com.br%{REQUEST_URI} [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php